:root {
    --green: #dff8eb;
    --purple: #a28f9d;
    --nickel: #74776b;
    --brown: #5c574f;
    --khaki: #48483a;
  }

body {
    background-color: white;
    font-family: sans-serif;
    margin: 10px;
}

header {
    background-color: var(--brown);
    color: white;
    padding: 5px;
}

h1 {
    text-align: center;
    font-size: 22px;
}

h4 {
    width: 175px;
}

section {
    display: flex;
    flex-direction: row;
}

#section-2 {
    display: none;
}

#selection-box button {
    background-color: var(--brown);
    border: 2px solid white;
    border-radius: 4px;
    color: white;
    padding: 5px 15px;
    margin: 10px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    opacity: 0.6;
    width: 165px;
}

#selection-box button:hover {
    opacity: 1;
}

#selection-box button:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

#selection-box {
    background-color: var(--purple);
    color: white;
    flex: 0 0 180px;
    padding: 10px 20px 20px 30px;
}

input[type=checkbox] {
    transform: scale(1.5);
    accent-color: var(--nickel);
}

.select_btn label {
    margin-left: 10px;
}

#view-box {
    background-color: white;
    color: var(--khaki);
    padding: 15px;
}

#regulatory-genes-view {
    display: flex;
    justify-content: space-evenly;
}

#regulatory-genes-view div {
    padding: 10px;
    margin: 3px;
    border: 1px solid var(--green);
}

.rg_active {
    background-color: seagreen;
    color: white;
}

.rg_repressed {
    background-color: var(--nickel);
    color: var(--khaki);
}

.loader {
    margin: 20px;
    border: 20px solid #EAF0F6;
    border-radius: 50%;
    border-top: 20px solid var(--purple);
    width: 50px;
    height: 50px;
    animation: spinner 2s linear infinite;
}
  
@keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#show-efm-amount {
    padding: 15px 5px;
}

table {
    border-spacing: 0 2px;
}

tr th {
    border-bottom: 1px solid var(--khaki);
}

tr:hover {
    background-color: var(--brown);
    color: white;
}

td {
    white-space: nowrap;
    text-align: right;
    padding-left: 5px;
    padding-right: 5px;
}

th.efm_id {
    text-align: center;
}

.metabolites_to_compare {
    display: flex;
}

#comparison-selection {
    display: inline-flex;
}

.metabolites_to_compare button {
    font-size: 16px;
    margin: 5px;
    border: 1px solid #dddddd;
    background-color: #dddddd;
    width: 100px;
    cursor: pointer;
}

.metabolites_to_compare button:hover {
    background-color: whitesmoke;
    color: var(--nickel);
    border: 1px solid var(--nickel);
}

button.met_on {
    color: var(--khaki);
    border: 1px solid var(--khaki);
}

button.met_off {
    color: white;
    border-style: none;
}

#compare-btn {
    background-color: var(--nickel);
    border: 2px solid white;
    border-radius: 4px;
    color: white;
    margin: 40px;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    opacity: 0.6;
    width: 165px;
}

#compare-btn:hover {
    opacity: 1;
}

#compare-btn:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

#comparison-result {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px 15px 15px 0;
}

#result-info {
    width: 850px;
}

#result-info .amounts {
    width: 100%;
    padding: 15px 20px;
    margin: 20px;
    opacity: 1;
    color: black;
}

#result-info .amounts:hover {
    opacity: 0.9;
    cursor: pointer;
}

#result-info .amounts a {
    float: right;
}

#result-info .lists-hide {
    display: none;
}

#result-info .lists-show {
    width: 100%;
    max-width: 850px;
    padding: 10px 0 10px 20px;
    margin: 10px 0 10px 10px;
    line-height: 125%;
}

#amt-1 {
    color: #ff9999;
    background-color: white;
    border: 1px solid #ff9999;
}

#amt-1:hover {
    background-color: whitesmoke;
}

#amt-2 {
    color: #99cc99;
    background-color: white;
    border: 1px solid #99cc99;
}

#amt-2:hover {
    background-color: whitesmoke;
}

#amt-3 {
    background-color: #e0bc99;
}

#amt-4 {
    background-image: linear-gradient(to right, #ff9999, #99cc99);
}

#amt-5 {
    background-color: #ff9999;
}

#amt-6 {
    background-color: #99cc99;
}

#venn-graphic {
    width: 640px;
    height: auto;
}